.row{
    display: flex;
    flex-direction: row;
    margin:auto;
    justify-content: space-around;
    width: 50%;
    flex-wrap: wrap;
}

.column{
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: center;
    width: 20em;
    background-color: #F5EDF0;
    padding: 3em;
    border-radius: 10px;
    margin: 1em;
}

button{
    margin: 5px;
    padding: 0;
    background-color: #38A3A5;
    box-shadow: none;
    color: #F5EDF0;
}
button:hover{
    background-color: #57C1C7;
    /* color: black; */
}

p{
    margin: 1em;
}


