.row{
    display: flex;
    flex-direction: row;
    margin:auto;
    justify-content: space-around;
    width: 50%;
    flex-wrap: wrap;
}

.column{
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: center;
    width: 20em;
    background-color: #F5EDF0;
    padding: 3em;
    border-radius: 10px;
    margin: 1em;
}

button{
    margin: 5px;
    padding: 0;
    background-color: #38A3A5;
    border: solid 1px #29274C;
    color: #F5EDF0;
}

p{
    margin: 1em;
}


